/* ////////////////////////////////////// aqui todo los relacionado con los contenedores y menus/////////////// */
.black-container {
    background-color: #000; /* Color negro */
    min-height: 100vh; /* Alto mínimo igual al viewport para el scroll */
    width: 240px; /* Ancho del contenedor negro */
    position: fixed; /* Fijar posición para que quede a la izquierda */
    overflow-y: auto; /* Aplicar scroll al contenedor completo */
    max-height: 100vh; /* Establecer una altura máxima igual al viewport */
}

/* para el contenido dentro del contenedor */
#sidebar-container {
    padding: 0.875rem 1.25rem;
}
/* contenedor de bienvenida */
.horizontal-container {
    font-family: 'Source Sans 3', sans-serif;
    background-color: #fff; /* Color de fondo */
    color: #202123; /* Color de texto */
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Alineación del texto a la izquierda */
    font-size: 30px; /* Tamaño del texto */
    width: calc(100% -  290px); ; /* Ancho total */
    position: fixed; /* Fijar posición */
    top: 0; /* Alineación en la parte superior */
    left: 290px; /* Alineación en el borde izquierdo */
    right: 0; /* Alineación en el borde derecho */
    margin-top:20px; /* Margen superior para separar del menú */
    display: flex;
    align-items: center;
    flex-grow: 1; /* Hace que este contenedor ocupe todo el espacio disponible */
    text-align: left; /* Alinea el texto a la izquierda */
}
.menu {
    width: 18rem;
}

.menu a {
    font-family: 'Source Sans 3', sans-serif; /* Fuente 'Source Sans 3' */
    color: white; /* Color blanco */
    text-decoration: none; /* Sin subrayado */
    width: 10px;
    
    
}

/* Resto de tus estilos */
:root {
    --primary: #000000;
    --light: #000000;
    --grey: #fefefe;
}

body {
    overflow: hidden;
   font-weight: 300;
    color: black;
}


  .left-column {
    flex: 1; /* La columna izquierda se expandirá para ocupar todo el espacio disponible */
    margin-right: 20px; /* Añade un espacio entre las columnas si lo deseas */
  }
  

/* ////////////////////////////////////// aqui todo los relacionado los botones tipos de lestras y etc/////////////// */

.small-avatar{
    width: 30px;

}

.logo {
    width: 147px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Para mantener la proporción de aspecto */
    margin-bottom: 15px; /* Espacio opcional entre el logotipo y el menú */
}

.my-custom-block {
    display: block;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 18px;
    white-space: nowrap;
    border-radius: 20px; /* Bordes circulares */
    padding: 8px; /* Espaciado interno para hacer que el elemento sea más grande */
    transition: background-color 0.3s ease; /* Agregamos una transición suave para el cambio de color de fondo */
} 

    .my-custom-block i {
    margin-right: 14px; /* Ajusta este valor según el espacio deseado entre el icono y el texto */
}

.my-custom-block:first-child {
    font-weight: bold;

}

#hidden-buttons-container { /* para ocultar los botones sin que se defacen */

    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease; /* Agregamos una transición suave */
}

#hidden-buttons-container.show {
    height: auto; /* Mostrar el contenedor ajustando su altura automáticamente */
    opacity: 1;
}

#custom-view-button.active + .hidden-button {
    margin-left: 0; /* Cuando el botón "Custom View" está activo, muestra los botones ocultos */
}
#hidden-button-1,
#hidden-button-2,
#hidden-button-3,
#hidden-button-4 {
    color: gray; 

}
#custom-view-button{

    font-size: 16px;
}

#Summary-button {
    font-size: 16px;
}
#Help-button{
    font-size: 16px;
    color: gray;
}
#Contact-button{
    font-size: 16px;
    color: gray;
}
#Log-button{

    font-size: 16px;
    
}
#settings-button{
    color: gray;
}

.my-custom-block:hover {
     background-color: gray; /* Fondo gris cuando se pasa el ratón por encima */
    color: white; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Quita el subrayado */
}


  .my-custom-button {
    font-family: 'Source Sans 3', sans-serif;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    font-size: 16px;
    margin-right: 200px;
    text-decoration: none;
  }
  .show {
    display: block !important;
  }

  #prefil-button{
    font-family: 'Source Sans 3', sans-serif; /* Fuente 'Source Sans 3' */
    font-size: 16px; /* Tamaño de fuente 16px */
    color: black; /* Color del texto */
    margin-right: 100px;
    color: inherit;
  }
  
  #refil-button.active + .hidden-button {
    margin-left: 0; /* Cuando el botón "Custom View" está activo, muestra los botones ocultos */
}

    